<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
    <meta name="author" content="FamousThemes" />
    <meta name="description" content="Get in the spotlight" />
    <meta name="keywords" content="premium css templates, premium wordpress themes, famous themes, themeforest" />
    <title>Wedding Bells | Batkovi.com</title>
    <link rel="stylesheet" type="text/css" media="all" href="{$basePath}/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{$basePath}/colors/green.css" />
    <link rel="stylesheet" href="{$basePath}/css/carousel.css">
    <link href='http://fonts.googleapis.com/css?family=Clicker+Script&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="main_container">

        <a class="show_menu" href="#"><img src="{$basePath}/images/mobile_menu_open.png" alt="" title="" /></a>
        <a class="hide_menu" href="#"><img src="{$basePath}/images/mobile_menu_close.png" alt="" title="" /></a>

        <nav class="menu">                                                                   
            <ul id="main_menu">
                <li><a {ifCurrent default} class="selected" {/ifCurrent} n:href="default">HOME</a></li>
                 <li><a {ifCurrent program} class="selected" {/ifCurrent} n:href="program">PROGRAM</a></li>
                 <li><a {ifCurrent photo} class="selected" {/ifCurrent} n:href="photo">FOTO</a></li>
                 <li><a {ifCurrent contact} class="selected" {/ifCurrent} n:href="contact">KONTAKT</a></li>
                    <li><a {ifCurrent contact} class="selected" {/ifCurrent} n:href="Sign:out">odhlasit</a></li>
                    {*     <li><a href="blog.html">BLOG</a></li>
                    <li><a href="photos.html">PHOTOS</a></li>
                    <li><a href="rsvp.html">RSVP</a></li>
                    <li><a href="contact.html">GET IN TOUCH</a></li> 
                    *}
            </ul>
        </nav>
{include content}
        
        <div class="footer">
            <div class="full_width_centered">
                <div class="footer_sign"><span class="swirl_left_transparent"><span class="swirl_right_transparent"><img src="{$basePath}/images/birds_icon.png" alt="" title="" /></span></span></div>
                <div class="footer_names">SARKA &amp; PAVEL</div>
             {*   <div class="footer_socials">
                    <ul>
                        <li><a href="#"><img src="{$basePath}/images/social/twitter.png" alt="" title="" /></a></li>
                        <li><a href="#"><img src="{$basePath}/images/social/facebook.png" alt="" title="" /></a></li>
                        <li><a href="#"><img src="{$basePath}/images/social/pinterest.png" alt="" title="" /></a></li>
                        <li><a href="#"><img src="{$basePath}/images/social/vimeo.png" alt="" title="" /></a></li>
                        <li><a href="#"><img src="{$basePath}/images/social/google.png" alt="" title="" /></a></li>
                        <li><a href="#"><img src="{$basePath}/images/social/youtube.png" alt="" title="" /></a></li>
                    </ul>
                </div>*}
                <nav class="footer_menu">
                    <ul>
                        <li><a href="index.html" class="selected">HOME</a></li>
                        <li><a href="page.html">THE WEDDING</a></li>
                        <li><a href="rsvp.html">RSVP</a></li>
                        <li><a href="contact.html">GET IN TOUCH</a></li>
                        <li><a onClick="jQuery('html, body').animate({ scrollTop: 0}, 'slow');"  href="javascript:void(0);" class="gotop" title="Go on top">TOP</a> </li>
                    </ul>
                </nav>
                <div class="footer_copyright">Made with love by <a href="http://devleto.cz">DEVLETO.CZ</a> &amp; <a href="http://ourweddingtheme.com">OURWEDDINGTHEME.COM</a></div>
            </div>
        </div>

    </div>

{include script}
    
</body>
</html>
